[Unit]
Description = flask python command to do useful stuff

[Service]
User=debian
ExecStart = /SQL-Vulnerable/flask.sh
Restart=always

[Install]
WantedBy = multi-user.target
