[Unit]
Description = flask python command to do useful stuff

[Service]
User=user1
ExecStart = /home/user1/SQL-Vulnerable/flask.sh
Restart=always

[Install]
WantedBy = multi-user.target
