{% extends "admin/base.html" %}

{% block content %}

<div class="site-section bg-light">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <div class="section-title mb-5">
                <h2>Add Ingredient</h2>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                <br><small>{{msg}}</small>
                    {% endfor %}
                {% else %}

                {% endif %}
                {% endwith %}

            </div>



            <form role="form" action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                  <div class="row">
                      <div class="col-md-6 form-group">
                          {{ form.name.label() }}
                          {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Full Name") }}
                          <div class="invalid-feedback">
                              {% for error in form.name.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                      </div>
                          {% else %}
                            {{ form.name(class="form-control", placeholder="Ingredient Name") }}
                          {% endif %}
                  </div>
                  </div>




                <div class="row">
                      <div class="col-md-12 form-group">
                          {{ form.description.label() }}
                          {% if form.description.errors %}
                            {{ form.description(class="form-control form-control-lg is-invalid", rows='6') }}
                          <div class="invalid-feedback">
                              {% for error in form.type.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                      </div>
                          {% else %}
                            {{ form.description(class="form-control", rows='6') }}
                          {% endif %}
                  </div>
                  </div>


                 <div class="row">
                      <div class="col-md-12 form-group">
                          {{ form.image.label() }}
                          {{ form.image(class="form-control-file") }}
                          {% if form.image.errors %}
                            {% for error in form.image.errors %}
                          <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                          {% endif %}

                      </div>
                  </div>

                <br>



                  <div class="row">
                      <div class="col-12">
                          {{ form.submit(class="btn btn-primary py-3 px-5") }}
                      </div>
                  </div>

            </form>
          </div>

        </div>


      </div>
    </div>


{% endblock %}